html {
  font-family: "Josefin Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
li {
  list-style: none;
}

/* Enlaces */

.cta-main {
  background-color: red;
  padding: 1em 1em;
  color: #fff;
  font-size: bold;
  border-radius: 2px;
}

/* Header */

header.main-header{
  position: relative;    
  top: 0;
  width: 100%;
  z-index:9999;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: transparent;
  z-index: 999;
}
.wrap-logo-header{
  display: flex;
  align-items: center;
  flex-basis: 15%;
}
.logo-header{
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}

/* menu */

.nav-header{
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-wrap-header{
  display: flex;
  flex-basis: 50%;
}

ul.main-menu{
  display: flex;
  width: 100%;
  z-index: 99;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
}

ul.main-menu #nav-main-contact{
  display: flex;
  align-items: center;
  padding: .5em 1em;
  background-color: purple;
  color: #fff;
}
li.menu-item{
  margin: .75rem;
  display: flex;
}
li.menu-item a{
  padding: .5rem 1rem;
  color: #fff;
}
li.menu-item a:hover{
  color: rgb(164, 48, 164);
}

i.toggle-menu img{
  width: 27px;
  z-index: 99;
}

i.toggle-menu{
  display: none;
  background-color: #fff;
  border: none;
  z-index: 9999;
}

input#check{
  display: none;
}

@media (min-width:880px){
  .header-wrap{
    padding: .5em 5em;
  }
}

@media (min-width:768px){
  a.logo-header{
    color: #fff;
  }
}

@media (max-width:768px){
  header.main-header{
    margin-bottom: 4em;
  }
  .header-wrap{
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 0;
    top: 0;
    z-index: 9999;
    height: 60vh;
  }
  .wrap-logo-header{
    position: fixed;
    z-index:999;
    top: 3%;
    left: 3%;
  }
  .logo-header, li.menu-item a{
    color: #222;
  }

  i.toggle-menu{
    display: flex;
  }
  ul.main-menu,#nav-main-contact{
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
  }
  ul.main-menu{
    position: fixed;
    background-color: #fff;
  }
  label.checkbtn{
    position: fixed;
    right: 3%;
    top: 3%;
    z-index: 9999;
    cursor: pointer;
  }
  #check:checked ~ ul{
    display: flex;
    z-index: 9;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    font-size: 2em;
  }
}

/* Hero Section HomePage */
.wrap-header-hero{
  background: linear-gradient(to bottom, rgb(0 0 0 / .75), rgb(0 0 0 / .5)), url(../img/Gunka4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-home-page{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap-hero-home-page{
  color: #fff;
  text-align: center;
  width: 50%;
}

.wrap-hero-home-page p{
  margin-bottom: 2em;
}

@media (max-width:768px){
  .wrap-hero-home-page{
    width: 100%;
    padding: 1em;
  }
}

article.card{
  max-width: 350px;
  background-color: #f8f8f8;
  margin: 1rem;
  box-shadow: 0px 0px 12px #d7d7d7;
}
.header-card{
  display: flex;
}
.header-card img{
  border-radius: 8px 8px 0 0;
  max-height: 200px;
  height: 200px;
  width: 100%;
}

.categoria-card{
  margin-top: 1rem;
}

.categoria-card span{
  background: var(--main-c);
  border-radius: 4px;
  padding: .2rem .5rem;
  color: #fff;
}

.card footer{
  display: flex;
  flex-flow: column;
  padding: 0 1rem;
}

.perfil-card{
  display: flex;
  align-items: center;
}

.img-perfil-card{
  display: flex;
}

.img-perfil-card img{
  width: 50px;
  border-radius: 50%;
  margin: 1rem 1rem 1rem 0;
}
.text-perfil-card{
  display: flex;
  flex-flow: column;
}
.text-perfil-card span:nth-child(2){
  color: #cfcfcf; 
}
.card-wrap{
  display: flex;
  flex-flow: wrap;
}

@media (max-width:768px){
  .card-wrap{
    justify-content: center;
  }
}