html {
  font-family: "Josefin Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}
li {
  list-style: none;
}

/* Enlaces */

.cta-main {
  background-color: red;
  padding: 1em 1em;
  color: #fff;
  font-size: bold;
  border-radius: 2px;
}

/* Header */

header.main-header{
  position: relative;    
  top: 0;
  width: 100%;
  z-index:9999;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: transparent;
  z-index: 999;
}
.wrap-logo-header{
  display: flex;
  align-items: center;
  flex-basis: 15%;
}
.logo-header{
  font-weight: bold;
  font-size: 1.2em;
  color: #fff;
}

/* menu */

.nav-header{
  display: flex;
  align-items: center;
  width: 100%;
}
.nav-wrap-header{
  display: flex;
  flex-basis: 50%;
}

ul.main-menu{
  display: flex;
  width: 100%;
  z-index: 99;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
}

ul.main-menu #nav-main-contact{
  display: flex;
  align-items: center;
  padding: .5em 1em;
  background-color: purple;
  color: #fff;
}
li.menu-item{
  margin: .75rem;
  display: flex;
}
li.menu-item a{
  padding: .5rem 1rem;
  color: #fff;
}
li.menu-item a:hover{
  color: rgb(164, 48, 164);
}

i.toggle-menu img{
  width: 27px;
  z-index: 99;
}

i.toggle-menu{
  display: none;
  background-color: #fff;
  border: none;
  z-index: 9999;
}

input#check{
  display: none;
}

@media (min-width:880px){
  .header-wrap{
    padding: .5em 5em;
  }
}

@media (min-width:768px){
  a.logo-header{
    color: #fff;
  }
}

@media (max-width:768px){
  header.main-header{
    margin-bottom: 4em;
  }
  .header-wrap{
    position: fixed;
    width: 100%;
    /* background-color: #fff; */
    padding: 0;
    top: 0;
    z-index: 9999;
    height: 60vh;
  }
  .wrap-logo-header{
    position: fixed;
    z-index:999;
    top: 3%;
    left: 3%;
  }
  .logo-header, li.menu-item a{
    color: #222;
  }

  i.toggle-menu{
    display: flex;
  }
  ul.main-menu,#nav-main-contact{
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
  }
  ul.main-menu{
    position: fixed;
    background-color: #fff;
  }
  label.checkbtn{
    position: fixed;
    right: 3%;
    top: 3%;
    z-index: 9999;
    cursor: pointer;
  }
  #check:checked ~ ul{
    display: flex;
    z-index: 9;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    top: 0;
    font-size: 2em;
  }
}

/* Hero Section HomePage */
.wrap-header-hero{
  background: linear-gradient(to bottom, rgb(0 0 0 / .75), rgb(0 0 0 / .5)), url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-home-page{
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap-hero-home-page{
  color: #fff;
  text-align: center;
  width: 50%;
}

.wrap-hero-home-page p{
  margin-bottom: 2em;
}

@media (max-width:768px){
  .wrap-hero-home-page{
    width: 100%;
    padding: 1em;
  }
}

.hero-page{
  background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../img/porti2jpg.jpg) center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-hero-page{
  color: #fff;
  padding: 1rem;
}


.hero-page{
  background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .5)), url(../img/establecimiento\ -\ copia.jpg) center;
  background-size: cover;
  height: 200px;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-hero-page{
  color: #fff;
  padding: 1rem;
}

.section{
  max-width: 1200px;
  margin: 3rem auto;
  padding: 1rem;
}

.wrap-two-column{
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}


/* Formulario */

.formulario{
  display: flex;
  flex-flow: column;
}

.formulario input, .formulario textarea{
  margin: .5rem 0;
  padding: .5rem .2rem;
}

.formulario button{
  width: fit-content;
  border: none;
  padding: .5rem 1rem;
  background-color: #222;
  color: #fff;
  font-size: 1.1rem;
}

footer{
  background-color: #fff;
  color: var(--black-c);
}

footer ul{
  padding: 0;
}

.wrap-footer{
  display: grid;
  grid-template-columns: 30% 15% 15% 20%;
  column-gap: 5%;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 1200px;
}

element-footer h5{
  margin: 1rem 0;
}

.text-element-footer{
  line-height: 2;
}

.text-element-footer li a{
  color: var(--main-c);
}

.rrss-element-footer ul{
  display: flex;
  flex-wrap: wrap;
}

.rrss-element-footer img{
  width: 45px;
}
.rrss-element-footer li{
  margin-right: 1rem;
}

.footer-creds{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  color: #576171;
  font-size: .9rem;
  max-width: 1200px;
  margin: 0 auto;
}

.legal-creds ul{
  display: flex;
}

.legal-creds ul li{
  padding-right: 1rem;
}

.legal-creds ul li a{
  color: #576171;
}

@media (max-width:768px){
  .wrap-footer{
    grid-template-columns: repeat(2,1fr);
  }
}

@media (max-width:480px){
  .wrap-footer{
    grid-template-columns: repeat(1,1fr);
  }
}

@media (max-width:320px){
  .footer-creds{
    flex-flow: column;
  }
}

.a-1{
  background-color: #576171;
}